@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Bạn có chắc muốn đặt lại mật khẩu ?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đặt lại mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
