@model Order
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align: center;">Xác nhận đặt hàng!</h2>
<br />
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Địa chỉ nhận hàng</label>
        <input asp-for="ShippingAddress" class="form-control" />
        <span asp-validation-for="ShippingAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Numberphone">Số điện thoại người nhận</label>
        <input asp-for="Numberphone" class="form-control"/>
        <span asp-validation-for="Numberphone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes">Ghi chú</label>
        <textarea asp-for="Notes" class="form-control"></textarea>
    </div>  
    </br>
    <button type="submit" class="btn btn-primary">Đặt hàng</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}