@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="display: flex;justify-content: space-around;">
    @ViewData["Title"]
</h1>
<q style="display: flex;justify-content: space-around;">
    Vui lòng kiểm tra mail để xác thực.
</q>

