@model DACS_DAMH.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h2>Thêm sản phẩm mới</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Giá bán</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Thuộc loại</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Key">Size</label>
        <select asp-for="Key" class="form-control">
            <option value="0">Không chọn size</option>
            <option value="1">Có hai size (S/M)</option>
            <option value="2">Có ba size (S/M/L)</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="KeyTp">Topping</label>
        <select asp-for="KeyTp" class="form-control">
            <option value="0">Không chọn topping</option>
            <option value="1">Có topping</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Hình ảnh</label>
        <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
