@using System.Globalization;
@model DACS_DAMH.Models.Product;
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
<div class="row product-details">
    <div class="col-md-6 product-image">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Product Image" class="img-fluid" />
        }
    </div>
    <div class="col-md-6 product-info">
        <h3>Price: @Model.Price.ToString("C", new CultureInfo("vi-VN"))</h3>  <p>@Model.Description</p>
        <a asp-area="Admin" asp-controller="Product" class="btn btn-primary btn-sm" asp-action="Index">Quay lại danh sách</a>
    </div>
</div>

