@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="blog_home">
    <div class="container">
        <div class="clearfix"></div>
        <h2 class="blog_home_title">
            <img src="https://file.hstatic.net/1000075078/file/coffee-2_2_92db24958ff14ac4b4249b3256f7a415.png">
            Chuyện Nhà
        </h2>

        <h3 class="blog_home_blogtitle">
            <a href="/blogs/coffeeholic">
                
            </a>
        </h3>
        <div class="blog_lists flex_wrap display_flex">
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/coffeeholic/bat-gap-sai-gon-xua-trong-mon-uong-hien-dai-cua-gioi-tre" title="BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/thecoffeehouse_caphehighlight01_de40c0102a954c50a328f7befcdd82bd_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/thecoffeehouse_caphehighlight01_de40c0102a954c50a328f7befcdd82bd_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>01/11/2023</span></div>
                    <h3><a href="/blogs/coffeeholic/bat-gap-sai-gon-xua-trong-mon-uong-hien-dai-cua-gioi-tre" title="BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ">BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ</a></h3>
                    <p>Dẫu qua bao nhiêu lớp sóng thời gian, người ta vẫn có thể tìm lại những dấu ấn thăng trầm của một Sài Gòn xưa cũ. Trên những góc phố,...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/coffeeholic/chi-chon-ca-phe-moi-sang-nhung-cung-khien-cuoc-song-cua-ban-them-thu-v" title="CHỈ CHỌN CÀ PHÊ MỖI SÁNG NHƯNG CŨNG KHIẾN CUỘC SỐNG CỦA BẠN THÊM THÚ VỊ, TẠI SAO KHÔNG?">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/1200x630_0b0081d93ba6479b934e04e71cbfd102_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/1200x630_0b0081d93ba6479b934e04e71cbfd102_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>30/10/2023</span></div>
                    <h3><a href="/blogs/coffeeholic/chi-chon-ca-phe-moi-sang-nhung-cung-khien-cuoc-song-cua-ban-them-thu-v" title="CHỈ CHỌN CÀ PHÊ MỖI SÁNG NHƯNG CŨNG KHIẾN CUỘC SỐNG CỦA BẠN THÊM THÚ VỊ, TẠI SAO KHÔNG?">CHỈ CHỌN CÀ PHÊ MỖI SÁNG NHƯNG CŨNG KHIẾN CUỘC SỐNG CỦA BẠN THÊM THÚ VỊ, TẠI SAO KHÔNG?</a></h3>
                    <p>Thực chất, bạn không nhất thiết phải làm gì to tát để tạo nên một ngày rực rỡ. Chỉ cần bắt đầu từ những việc nhỏ nhặt nhất, khi bạn...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/coffeeholic/signature-the-coffee-house-da-quay-tro-lai" title="SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA THE COFFEE HOUSE ĐÃ QUAY TRỞ LẠI">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/3__1__2b67342f4db64bb082944cf078afd910_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/3__1__2b67342f4db64bb082944cf078afd910_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>12/02/2023</span></div>
                    <h3><a href="/blogs/coffeeholic/signature-the-coffee-house-da-quay-tro-lai" title="SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA THE COFFEE HOUSE ĐÃ QUAY TRỞ LẠI">SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA THE COFFEE HOUSE ĐÃ QUAY TRỞ LẠI</a></h3>
                    <p>Mới đây, các "tín đồ" cà phê đang bàn tán xôn xao về SIGNATURE - Biểu tượng văn hóa cà phê của The Coffee House đã quay trở lại.Một lời...</p>

                </div>
            </div>
        </div>

        <h3 class="blog_home_blogtitle">
            <a href="/blogs/teaholic">
                
            </a>
        </h3>
        <div class="blog_lists flex_wrap display_flex">
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/teaholic/trung-thu-nay-sao-ban-khong-tu-cho-minh-dung-mot-chut-thoi-thuong-m" title="TRUNG THU NÀY, SAO BẠN KHÔNG TỰ CHO MÌNH " dỪng="" mỘt="" chÚt="" thÔi,="" thƯỞng="" trÔi"?"="">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/an_banh_uong_nuoc_nhom_03_d499c0cab14746588fff6fe0dee678ad_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/an_banh_uong_nuoc_nhom_03_d499c0cab14746588fff6fe0dee678ad_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>19/09/2023</span></div>
                    <h3><a href="/blogs/teaholic/trung-thu-nay-sao-ban-khong-tu-cho-minh-dung-mot-chut-thoi-thuong-m" title="TRUNG THU NÀY, SAO BẠN KHÔNG TỰ CHO MÌNH " dỪng="" mỘt="" chÚt="" thÔi,="" thƯỞng="" trÔi"?"="">TRUNG THU NÀY, SAO BẠN KHÔNG TỰ CHO MÌNH "DỪNG MỘT CHÚT THÔI, THƯỞNG MỘT CHÚT TRÔI"?</a></h3>
                    <p>Bạn có từng nghe: “Trung thu thôi mà, có gì đâu mà chơi”, hay “Trung thu càng ngày càng chán”...? Sự bận rộn đến mức “điên rồ” đã khiến chúng...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/teaholic/bo-suu-tap-cau-toan-keo-thom-via-may-man-khong-the-bo-lo-tet-nay" title="BỘ SƯU TẬP CẦU TOÀN KÈO THƠM: " vÍa"="" may="" mẮn="" khÔng="" thỂ="" bỎ="" lỠ="" tẾt="" nÀy"="">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/cautoankeothom_thecoffeehouse_03_29cd435c9a574e1a867ac36f2c863bb6_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/cautoankeothom_thecoffeehouse_03_29cd435c9a574e1a867ac36f2c863bb6_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>16/01/2023</span></div>
                    <h3><a href="/blogs/teaholic/bo-suu-tap-cau-toan-keo-thom-via-may-man-khong-the-bo-lo-tet-nay" title="BỘ SƯU TẬP CẦU TOÀN KÈO THƠM: " vÍa"="" may="" mẮn="" khÔng="" thỂ="" bỎ="" lỠ="" tẾt="" nÀy"="">BỘ SƯU TẬP CẦU TOÀN KÈO THƠM: "VÍA" MAY MẮN KHÔNG THỂ BỎ LỠ TẾT NÀY</a></h3>
                    <p>Tết nay vẫn giống Tết xưa, không hề mai một nét văn hoá truyền thống mà còn thêm vào những hoạt động “xin vía” hiện đại, trẻ trung. Ví như...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/teaholic/khuay-de-thay-trang-trung-thu-nay" title="“KHUẤY ĐỂ THẤY TRĂNG" -="" khuẤy="" lÊn="" niỀm="" hẠnh="" phÚc:="" trẢi="" nghiỆm="" khÔng="" thỂ="" bỎ="" lỠ="" mÙa="" trung="" thu="" nÀy"="">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/dscf0216_2890bcca44ae49aaaf843d5fa3db2fc6_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/dscf0216_2890bcca44ae49aaaf843d5fa3db2fc6_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>16/08/2022</span></div>
                    <h3><a href="/blogs/teaholic/khuay-de-thay-trang-trung-thu-nay" title="“KHUẤY ĐỂ THẤY TRĂNG" -="" khuẤy="" lÊn="" niỀm="" hẠnh="" phÚc:="" trẢi="" nghiỆm="" khÔng="" thỂ="" bỎ="" lỠ="" mÙa="" trung="" thu="" nÀy"="">“KHUẤY ĐỂ THẤY TRĂNG" - KHUẤY LÊN NIỀM HẠNH PHÚC: TRẢI NGHIỆM KHÔNG THỂ BỎ LỠ MÙA TRUNG THU NÀY</a></h3>
                    <p>Năm 2022 là năm đề cao sức khỏe tinh thần nên giới trẻ muốn tận hưởng một Trung thu với nhiều trải nghiệm mới mẻ, rôm rả cùng bạn bè...</p>

                </div>
            </div>
        </div>

        <h3 class="blog_home_blogtitle">
            <a href="/blogs/blog">
                
            </a>
        </h3>
        <div class="blog_lists flex_wrap display_flex">
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/blog/xuan-len-di-loi-chuc-y-nghia-cho-nam-thin-dieu-chi-cung-nhu-y" title="“XUÂN LÊN ĐI!”: LỜI CHÚC Ý NGHĨA CHO NĂM THÌN ĐIỀU CHI CŨNG NHƯ Ý">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/zalo_01c6f0bfb0854951a16a92b52457ca56_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/zalo_01c6f0bfb0854951a16a92b52457ca56_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>23/02/2024</span></div>
                    <h3><a href="/blogs/blog/xuan-len-di-loi-chuc-y-nghia-cho-nam-thin-dieu-chi-cung-nhu-y" title="“XUÂN LÊN ĐI!”: LỜI CHÚC Ý NGHĨA CHO NĂM THÌN ĐIỀU CHI CŨNG NHƯ Ý">“XUÂN LÊN ĐI!”: LỜI CHÚC Ý NGHĨA CHO NĂM THÌN ĐIỀU CHI CŨNG NHƯ Ý</a></h3>
                    <p>Mùa xuân đã rộn ràng khắp nơi, mang theo nguồn sống dào dạt cùng mọi ước nguyện may mắn. Bạn cầu mong gì cho mình và người thân trong những...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/blog/the-coffee-house-tu-hao-mang-ly-ca-phe-sua-da-viet-nam-den-quang-truon" title="LY CÀ PHÊ SỮA ĐÁ VIỆT NAM XUẤT HIỆN Ở QUẢNG TRƯỜNG THỜI ĐẠI NEW YORK">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/thecoffeehouse_timesquare_02_b87f7576b02d4d82ba5b7ed4e40b6b00_grande.png" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/thecoffeehouse_timesquare_02_b87f7576b02d4d82ba5b7ed4e40b6b00_grande.png&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>21/11/2023</span></div>
                    <h3><a href="/blogs/blog/the-coffee-house-tu-hao-mang-ly-ca-phe-sua-da-viet-nam-den-quang-truon" title="LY CÀ PHÊ SỮA ĐÁ VIỆT NAM XUẤT HIỆN Ở QUẢNG TRƯỜNG THỜI ĐẠI NEW YORK">LY CÀ PHÊ SỮA ĐÁ VIỆT NAM XUẤT HIỆN Ở QUẢNG TRƯỜNG THỜI ĐẠI NEW YORK</a></h3>
                    <p>Ấn tượng và tự hào, hình ảnh Việt Nam tiếp tục được lên sóng tại Quảng trường Thời Đại (New York) với ly cà phê sữa đá quen thuộc, đi...</p>

                </div>
            </div>
            <div class="blog_item flex_direction_column display_flex">
                <a class="article_item_image" href="/blogs/blog/nguoc-len-tay-bac-goi-vi-moc-ve-xuoi" title="NGƯỢC LÊN TÂY BẮC GÓI VỊ MỘC VỀ XUÔI">
                    <div class="article_img lazyloaded" data-bg="//file.hstatic.net/1000075078/article/thecoffeehouse_traxanhtaybac_1_d8c2ac635c5941a19c0065339727e41a_grande.jpg" style="background-image: url(&quot;//file.hstatic.net/1000075078/article/thecoffeehouse_traxanhtaybac_1_d8c2ac635c5941a19c0065339727e41a_grande.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </a>
                <div class="article_item_info">
                    <div class="article_published_at"><span>16/08/2023</span></div>
                    <h3><a href="/blogs/blog/nguoc-len-tay-bac-goi-vi-moc-ve-xuoi" title="NGƯỢC LÊN TÂY BẮC GÓI VỊ MỘC VỀ XUÔI">NGƯỢC LÊN TÂY BẮC GÓI VỊ MỘC VỀ XUÔI</a></h3>
                    <p>Những dải ruộng bậc thang, các cô gái Thái với điệu múa xòe hoa, muôn cung đường ngợp mùa hoa… đó là rẻo cao Tây Bắc luôn làm say lòng...</p>

                </div>
            </div>
        </div>

    </div>
</section>
